<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Kubb.in Login</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
<link rel="stylesheet" href="./styles.css">

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
  <div id="login">
    <div id="description">
      <h1>Kubb.in</h1>
      <p>By logging in you agree to the ridiculously long terms that you didn't bother to read. If you don't have an
        account register <a href="register.html">here</a></p>
    </div>
    <div id="form">
      <form @submit.prevent="doLogin">
        <label for="username">Username</label>
        <input type="text" id="username" v-model="username" placeholder="username" autocomplete="off">

        <label for="password">Password</label>&nbsp;
        <i class="fas" :class="[passwordIcon]" @click="hidePassword = !hidePassword"></i>
        <input :type="passwordType" id="password" v-model="password" placeholder="**********">

        <button type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>

<script>
  const vm = new Vue({
    el: '#app',
    data: {
      username: '',
      password: '',
      hidePassword: true,
      jsonRequest: {},
      user:localStorage.getItem("user"),
    },
  created(){
    if(this.user != null){
      if(this.user.includes('ROLE_USER')){
        window.location.href = '/kubb.in-frontend/main-page/main.html'
      }
    }
  },
    computed: {
      passwordType() {
        return this.hidePassword ? 'password' : 'text'
      },
      passwordIcon() {
        return this.hidePassword ? 'fa-eye' : 'fa-eye-slash'
      }
    },
    methods: {
      doLogin() {
        sendLoginRequest(`${username.value}`, `${password.value}`)
      },
      checkIfLogged(){
        console.log('jsontoken ',data.user)
      }
    }
  })



  function sendLoginRequest(u, p) {
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    var raw = JSON.stringify({ "username": u, "password": p });

    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    fetch("https://kubb.in:8080/api/auth/signin", requestOptions)
      .then(response => response.json())
      .then(result => result.error ? console.log('wrong password todo') : redirectWithToken(result))
      .catch(error => console.log('error', error));
  }

  function redirectWithToken(token) {
    console.log(token);
    if (token !== undefined) {
      localStorage.setItem("user", JSON.stringify(token));
      window.location.href = "/kubb.in-frontend/main-page/main.html";
    }
  }

</script>
